.wrapper{
    width: 1002px;
    height: 120px;
    /*background: red;*/
    margin: 0 auto;
}
.logo{
    float: left;
    margin-top: 25px;
}
.nav{
    float: left;
    font-size:15px ;
    color: #626262;
    margin-left: 90px;
    margin-top: 55px;


}
.nav li{
    float: left;
    padding: 0 25px 0 25px;
    position: relative;
    cursor: pointer;
}
.nav li::after{
    content: '';
    background: #6b6b6b;
    width: 1px;
    height: 14px;
    position: absolute;
    right: 0;
    top:50%;
    margin-top:-7px;
}
.nav li:nth-child(5)::after{
    background:transparent;
}
.search{
    height: 30px;
    width: 130px;
    float: right;
    position: relative;
    margin-top: 50px;
    left: 10px;
    line-height: 30px;
    color: #a3a3a3;
    background: #f1f3f6;
}
.search-img{
    /*background: red;*/
    width: 10px;
    height: 12px;
    position: absolute;
    top: 9px;
    overflow: hidden;
    left: 110px;
}
.search-img img{
    position: relative;
    left: -6px;
    top: -22px;
}
.img-wrapper{
    background: url("../img/background.jpg");
    width: 1280px;
    height: 460px;
    margin: 0 auto;
    position: relative;
}
.img-wrapper li{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 30px;
    height: 52px;
    /*background: red;*/
    overflow: hidden;
    cursor: pointer;
}
.img-wrapper li:nth-child(1){
    left: 1110px;
}
.img-wrapper li:nth-child(1) img{
    position: relative;
    top: -3px;
    left: -60px;
}
.img-wrapper li:nth-child(2){
    left: 140px;
}
.img-wrapper li:nth-child(2) img{
    position: relative;
    top: -3px;
    left: -30px;
}
.readmore{
    width: 1280px;
    height: 492px;
    /*background: red;*/
    margin: 0 auto;
}
.readmore-wrapper{
    margin: 0 auto;
    height: 492px;
    width: 1002px;
}
.readmore-wrapper div{
    width: 334px;
    height: 492px;
    float: left;
    position: relative;
}
.readmore .left{
    /*background: #00A5FF;*/
}
.readmore .middle{
    /*background: #1d1d1d;*/
}
.readmore .right{
    /*background: #8c8c14;*/
}
.readmore-wrapper li:nth-child(1){
    height: 29px;
    background: white;
    font-size: 30px;
    line-height: 29px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 86px;
}
.readmore-wrapper li:nth-child(2){
    width: 100px;
    height: 100px;
    /*background: red;*/
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 144px;
    overflow: hidden;
}
.readmore-wrapper li:nth-child(3){
    position: absolute;
    top: 271px;
    width: 330px;
    height: 93px;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    font-size: 15px;
}
.readmore-wrapper li:nth-child(4){
    position: absolute;
    top: 392px;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    font-size: 15px;
    color: #00aeff;

}
.readmore-wrapper .left li:nth-child(1){
    width: 175px;
}
.readmore-wrapper .left li:nth-child(2) img{
    position: relative;
    left: -112px;
}
.readmore-wrapper .middle li:nth-child(1){
    width: 183px;
}
.readmore-wrapper .middle li:nth-child(2) img{
    position: relative;
    left: -212px;
}
.readmore-wrapper .right li:nth-child(1){
    width: 183px;
}
.readmore-wrapper .right li:nth-child(2) img{
    position: relative;
    left: -312px;
}
.ourwork{
    width: 1280px;
    height: 500px;
    background: #e2e7ed;
}
.ourwork li{
    float: left;
    width: 251px;
    height: 200px;
    cursor: pointer;
}
.ourwork-wrapper{
    position: relative;
    width: 1004px;
    top: 55px;
    margin: 0 auto;
}
.ourwork li:nth-child(5){
    /*float: none;*/
    position: relative;
    top: -1px;
}
.ourwork div:nth-child(1){
    width: 170px;
    height: 22px;
    /*background: red;*/
    position: relative;
    left: 139px;
    top: 25px;
    font-size: 30px;
}
.clients{
    width: 1280px;
    height: 154px;
}
.bottom{
    width: 1280px;
    height: 176px;
    background: #31333e;
}